body
{
  color: #333;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
a
{
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color: #42b983;
}
.logo{
  background-color:#1e272e;
  overflow: hidden;
  display: flex;
}
.icon
{
  display: flex;
  flex: 2;
}
.navbar
{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
.navbar-item
{
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  transition: all .3s ease-in-out;
}
.navbar-item:hover
{
  background-color: #ffd32a;
  transition: all .3s ease-in-out;
}
.navbar-item:hover  a
{
  transition: all .3s ease-in-out;
  color: #333;
}
.abc-logo{
  float:left;
  width:100px;
  height:100px;
}
.team-title
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1.5;
  min-height: 130px;
  font-size: 40px;
}
.team-search
{
  display: flex;
  flex: 1;
  min-height: 130px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
.search-bar
{
  min-height: 40px;
  padding: 10px;
  flex: 1;
  justify-content: flex-end;
  display: flex;
  margin-right: 30px;
}
.search-btn
{
  color: #2c3e50;
  float: right;
  width: 63px;
  height: 63px;
  border-radius: 50%
}
.title-component
{
  display: flex;
  min-height: 130px;
  justify-content: space-between;
  align-items: center;
  background-color: #d2dae2;
}
.team-component
{
  height: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: #d2dae2;
  padding-top: 20px;
}
.team-member
{
  padding: 20px;
}
.team-image
{
  border-radius: 50%;
  margin: 0px 40px;
  width: 250px;
  height: 250px;
  transition: 1s;
  overflow: hidden;
}
.team-info
{
  display: flex;
  position: relative;
  flex-direction: column;
  font-weight: 600;
  justify-content: space-around;
  min-height: 45px;
  align-items: center;
}
.team-border
{
  height: 3px;
  margin: 20px;
  width: 70px;
  background-color: #333;
}
.team-hover
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 15px;
  background-color: #fff;
  left: 55px;
  z-index: 90;
  opacity: 0;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  align-items: center;
  transition: all 0.7s ease-in-out;
}
.team-hover:hover
{
  opacity: 0.9;
}
.search-box
{
  position: relative;
  height: 65px;
  border-radius: 35px;
  display: flex;
  background-color: #1e272e;
  justify-content: center;
  align-items: center;
  width: 240px;
}
.search-input
{
  font-family: 'Josefin Sans', sans-serif !important;
  line-height: 1.5;
  height: 16px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  width: 200px;
}
.search-image
{
  position: absolute;
  display: flex;
  font-size: 18px;
  width: 65px;
  height: 65px;
  right: 0px;
  background: #2c3e50;
  justify-content: center;
  border-radius: 50%;
  color: #ffd32a;
  align-items: center;
}
